@font-face {
  font-family: "Teams Assets";
  src: url("../fonts/TeamsAssets-Light.woff") format("woff"), url("../fonts/TeamsAssets-Light.woff2") format("woff2");
  font-style: normal;
}

.leave_report_col1 {
  color: #252424;
  font-family: "Segoe UI";
  font-size: 14px;
}

.leave_report_col2 {
  color: rgba(37, 36, 36, 0.75);
  font-family: "Segoe UI";
  font-size: 12px;
}

.pending {
  color: #ffc312;
  font-family: "Segoe UI";
  font-size: 12px;
}

.approved {
  color: #92c353;
  font-family: "Segoe UI";
  font-size: 12px;
}

.declined {
  color: #c4314b;
  font-family: "Segoe UI";
  font-size: 12px;
}

.pencil::before {
  content: "\E40D";
  font-size: 1rem;
  font-family: "Teams Assets";
  color: #6264a7;
  cursor: pointer;
}
.delete::before {
  content: "\E42B";
  font-size: 1rem;
  font-family: "Teams Assets";
  color: #6264a7;
  cursor: pointer;
}
.dot::before {
  content: "\E310";
  color: #6264a7;
  font-size: 0.9em;
  font-family: "Teams Assets";
}
.right-chev::before {
  content: "\E433";
  font-size: 0.8rem;
  font-family: "Teams Assets";
  color: #6264a7;
  font-weight: bold;
  cursor: pointer;
}
td i {
  color: rgba(37, 36, 36, 0.75);
  font-family: "Teams Assets";
  font-size: 16px;
  font-weight: 300;
}

.leave-type {
  color: #6264a7;
  font-family: "Segoe UI";
  font-size: 14px;
}

.reason-type {
  color: rgba(37, 36, 36, 0.75);
  font-size: 14px;
  font-family: "Segoe UI";
}

#load-more {
  color: #6264a7;
  font-family: "Segoe UI";
  font-size: 14px;
  cursor: pointer;
}

.table td,
.table th {
  vertical-align: middle;
}
